<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Ticket API</title>
    <link rel="stylesheet" href="../static/bootstrap.css" th:href="@{/bootstrap.css}"/>
    <script type="text/javascript" src="../static/angular.min.js" th:src="@{/angular.min.js}"></script>
    <script type="text/javascript" src="../static/app/app.module.js" th:src="@{/app/app.module.js}"></script>
    <script type="text/javascript" src="../static/app/event.controller.js" th:src="@{/app/event.controller.js}"></script>
    <script type="text/javascript" src="../static/app/ticket.controller.js" th:src="@{/app/ticket.controller.js}"></script>
</head>
<body ng-app="app" ng-controller="EventsController as vm">

<header>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="/">Events</a>
                <a class="navbar-brand" href="/tickets" data-ng-click="vm.getAllTickets">Tickets</a>
            </div>
       </div>
    </nav>
</header>



<div>
    <div class="row">
        <div class="col-lg-offset-2 col-lg-8">

            <table class="table">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Price</th>
                    <th>Tickets left</th>
                    <th>Date of event</th>
                    <th style="width: 90px"></th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="event in vm.events"> <!--ng-if="(event.maxCapacity - event.currentSold) != '0'"-->
                    <td>{{event.name}}</td>
                    <td>{{event.ticketPrice}}</td>
                    <td>{{event.maxCapacity - event.currentSold}}</td>
                    <td>{{event.eventDate}}</td>
                    <td>
                        <button class="btn btn-success" data-ng-click="vm.buyTicket(event.id)" ng-show="(event.maxCapacity - event.currentSold) != '0'">Buy Ticket!</button>
                        <button type="button" class="btn btn-danger disabled" data-ng-click="vm.buyTicket(event.id)" ng-show="(event.maxCapacity - event.currentSold) == '0'">Event is full</button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

</body>
</html>